*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Dodac animacje przy naciśnięciu w  slidemenu np. menu--> slidemenu znika */
html{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

/* header */

header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../img/pizza-3007395_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: 1;
}
.welcome{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width:  100%;
   height: 10vh;
   text-align: center;
   color: white;
   text-shadow: 3px 1.5px black;
}
.welcome h1{
    font-family: 'Italiana', serif;
    font-size: 100px;
}
@media (max-width:641px){
    .welcome h1{
        font-size: 60px;
    }
}
@media (max-width:421px){
    
    .welcome h1{
        font-size: 50px;
    }
}
@media (max-width:361px){
    header{
        position: relative;
        width: 100%;
        height: 100vh;
     
    }
    .welcome h1{
        font-size: 40px;
    }
}
@media (max-width:281px){

    .welcome h1{
        font-size: 40px;
    }
}
@media (orientation: landscape) and (max-width:737px) {
    .welcome h1{
        font-size: 50px;
    }
}
/* header burger menu - icon */
.burger{
    position: fixed;
    top: 5vh;
    right: 2vw;
    width: 60px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
span{
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: white; 
    border-radius: 3px;
    text-shadow: 3px 1.5px black;
    transition: top .2s, opacity 0.3s ,transform .2s .2s;
    box-shadow: 0px 0px 3px black;
}
.burger span:nth-child(1){
    top: 0;
    left:0;
}
.burger span:nth-child(2){
    top: calc(50% - 5px);
    left:0;
    opacity: 1;
    /* transition: all .3s; */
  }
.burger span:nth-child(3){
    top: calc(100% - 10px);
    left:0;
}

.burger.active span:nth-child(1){
    top: calc(50% - 5px);
    left:0;
    transform: rotate(45deg);
    transform-origin: center;
}
.burger.active span:nth-child(2){
   opacity: 0;
}
.burger.active span:nth-child(3){
    top: calc(50% - 5px);
    left:0;
    transform: rotate(-45deg);
    transform-origin: center;
}
@media (max-width:1025px){
    .burger{
        top: 5vh;
        right: 5vw;
        width: 70px;
        height: 50px;

    }
}
@media (max-width:1367px) and (orientation: landscape){
    .burger{
        top: 5vh;
        right: 7vw;
        width: 70px;
        height: 50px;
    }
}
@media (max-width:732px) and (orientation: landscape){
    .burger{
        top: 5vh;
        right: 5vw;
        width: 60px;
        height: 40px;

    }
}
@media (max-width:654px) and (orientation: landscape){
    .burger{
        top: 5vh;
        right: 5vw;
        width: 40px;
        height: 30px;
    }
    span{
        height: 5px;
    }
}
@media (max-width:641px) {
    .burger{
        top: 5vh;
        right: 5vw;
        width: 40px;
        height: 30px;
    }
    span{
        height: 5px;
    }
}
@media (max-width:361px) {
    body{
        overflow: hidden;
     } 
    .burger{
        top: 5vh;
        right: 5vw;
        width: 40px;
        height: 30px;
    }
    span{
        height: 5px;
    }
}
/* slide menu */
.slidemenu{
    position: fixed;
    top:0;
    right: -100%;
    width: 40vh;
    height: 100%;
    background-color: rgba(206, 32, 32,1);
    transition: 0.4s;
}
.slidemenu ul{
    margin-top: 50%;
    list-style: none;
}
.slidemenu ul a{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.slidemenu a li{
    width: 90%;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 10vh;
    text-align: center;
    cursor: pointer;
    color: black;
}
.slidemenu a li i {
    font-size: 28px;
    padding-right: 10px;
}
.slidemenu a:nth-child(2) li:hover {
    color: red;
    font-size: 32px;
}
.slidemenu li:hover{
    background-color: rgb(139, 6, 6);
    color: white;
    text-shadow: 1px 1px red;
}
.slidemenu.active{
    top:0;
    right: 0;
}
@media (max-width: 1025px) {
    .slidemenu{
        width: 25vh;
    }
    .slidemenu a li  {
        font-size: 25px;
    }
    .slidemenu a li i {
        font-size: 42px;
        padding-right: 15px;
    }
  
}
@media (max-width: 1367px) and (orientation:landscape) {
    .slidemenu{
        width: 30vw;
    }
    .slidemenu a li  {
        font-size: 30px;
    }
    .slidemenu a li i {
        font-size: 48px;
        padding-right: 15px;
    }
  
}
@media (max-width: 1025px) and (orientation:landscape) {
    .slidemenu{
        width: 40vw;
    }
    .slidemenu a li i {
        font-size: 32px;

    }
  
}
@media (max-width: 730px)  {
    .slidemenu{
        width: 35vw;
    }
    .slidemenu a li  {
        font-size: 22px;
    }
    .slidemenu a li i {
        font-size: 28px;

    }
  
}
@media (max-width: 600px)  {
    .slidemenu{
        width: 40vw;
    }
}
@media (max-width: 520px)  {
    .slidemenu{
        width: 50vw;
    }
  
}
@media (max-width: 744px) and (orientation:landscape) {
    .slidemenu{
        width: 35vw;
    }
    .slidemenu ul{
        margin-top: 35%;
    }
    .slidemenu a li  {
        font-size: 22px;
    }
    .slidemenu a li i {
        font-size: 25px;

    }
  
}
@media (max-width: 444px)  {
    .slidemenu{
        width: 100vw;
        background-color: rgba(206, 32, 32,1);
    }
    .slidemenu a li i {
        font-size: 22px;
    }
    .slidemenu ul{
        margin-top: 18%;
    }
  
}
@media (max-width: 641px) and (orientation:landscape) {
    .slidemenu{
        width: 40vw;
    }
    .slidemenu ul{
        width: 80%;
        margin: 20% auto;
    }
    
    .slidemenu a li  {
        font-size: 18px;
    }
    .slidemenu a li  i{
        font-size: 18px;
    }
  
}
@media (max-width: 654px) and (orientation:landscape) and (max-height: 300px){
    .slidemenu{
        width: 40vw;
    }
    .slidemenu ul{
        width: 80%;
        margin: 12% auto;
    }
    
    .slidemenu a li  {
        font-size: 14px;
    }
    .slidemenu a li  i{
        font-size: 12px;
    }
  
}
@media (max-width: 824px) and (orientation: landscape) and (max-height:412px){
    .slidemenu{
        width: 35vw;
    }
    .slidemenu ul{
        margin-top: 35%;
    }
    .slidemenu a li  {
        font-size: 22px;
    }
    .slidemenu a li i {
        font-size: 25px;

    }
     
}
/* section menu */

section#menu{
    background-color: #EC7063;
}
#menu h1{
  width: 100%;
  height: 15vh;
  text-align: center;
  line-height: 15vh;
  font-size: 60px;
  color: white;
}
.wrapper-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrapper-menu .components{
  flex-basis: 350px;
  margin: 20px 50px 10% 50px;
  
}
.wrapper-menu .components a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
.components a p{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  font-size: 0;
  transition: 0.3s;
  text-align: center;
  color: white;
}
.components a:hover p{
  font-size: 40px;
  background-color: rgba(0,0,0,0.5);
  }


.wrapper-menu .components:nth-child(1) a{
  background-image: url('../img/cheese-1869708_640.jpg');
}
.wrapper-menu .components:nth-child(2) a{
  background-image: url('../img/pizza-1209748_640.jpg');
}
.wrapper-menu .components:nth-child(3) a{
  background-image: url("../img/pizza-3000274_640.jpg");

}
.wrapper-menu .components:nth-child(4) a{
  background-image: url("../img/pizza-711662_640.jpg");

}
.wrapper-menu .components:nth-child(5) a{
  background-image: url("../img/pizza-3298685_640.jpg");

}
.wrapper-menu .components:nth-child(6) a{
  background-image: url("../img/pizza-386717_640.jpg");
  background-position: bottom;

}
.wrapper-menu .components:nth-child(7) a{
  background-image: url("../img/pizza-5275191_640.jpg");

}

.components a+p{
    padding-top: 10px;
    font-size: 20px;  
}
@media (max-width: 1025px){
    .components a p{
        font-size: 40px;
        background-color: rgba(0,0,0,0.2);
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 30px;  
    }
}
@media (max-width: 1367px) and (orientation: landscape){
    .components a p{
        font-size: 40px;
        background-color: rgba(0,0,0,0.2);
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 30px;  
    }
}
@media (max-width: 769px){
    .wrapper-menu .components{
        flex-basis: 350px;
        margin: 20px 50px 10% 50px;   
      }
}
@media (max-width: 541px){
    .wrapper-menu .components{
        flex-basis: 350px;
        margin: 20px 50px 10% 50px;   
      }
}
@media (max-width: 721px) and (orientation: landscape){
    #menu h1{
      height: 20vh;
      line-height: 20vh;
      
      }
      .components a+p{
        padding-top: 10vh;
        font-size: 30px;  
    }
}
@media (max-width: 440px){
    .wrapper-menu .components{
        flex-basis: 250px; 
      }
      .wrapper-menu .components a{
          height: 250px;
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 18px;  

    }
}
@media (max-width: 641px) and (orientation: landscape){
    #menu h1{
        height: 30vh;
        line-height: 30vh;
        
        }
    .wrapper-menu .components{
        flex-basis: 250px; 
      }
      .wrapper-menu .components a{
          height: 250px;
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 20px;  

    }
}
@media (max-width: 282px){
    .wrapper-menu .components{
        flex-basis: 180px; 
      }
      .wrapper-menu .components a{
          height: 180px;
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 16px;  

    }
}
@media (max-width: 654px) and (orientation: landscape) and (max-height: 300px){
    #menu h1{
        height: 30vh;
        line-height: 30vh;
        
        }
    .wrapper-menu .components{
        flex-basis: 250px; 
      }
      .wrapper-menu .components a{
          height: 250px;
      }
      .components a+p{
        padding-top: 5vh;
        font-size: 20px;  

    }
}


/* O nas */

section#about{
    background-image: linear-gradient(0deg, white, #ff1900);
    position: relative; 
    width: 100%;
    height: 300vh;
}
#about>h1{
    width: 100%;
    height: 20vh;
    text-align: center;
    line-height: 20vh;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px black;
  }
.wrapp1 {
    position: absolute;
    top: 20vh;
    left:-100%;
    width: 70vw;
    height: 60vh;
    display: flex;
    transition: 1.5s;   
}
.wrapp1 .img{
    background-image: url('../img/chihuahua\ -\ boss_Easy-Resize.com.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 40%;
    height: 100%;
    transform: translate(10%,10%);
} 

.wrapp1 .person{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
}
.person h1{
    font-size:26px;
    padding: 10px;
}
.person p{
    font-size: 18px;
    padding: 10px;
}

#about .wrapp2{
    position: absolute;
    top: 120vh;
    right:-100%;
    width: 70vw;
    height: 60vh;
    display: flex;
    transition: 1.5s;
}

.wrapp2 .img{
    background-image: url('../img/chihuahua\ -\ chief.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 60%, 0; 
    width: 40%;
    height: 100%;
    transform: translate(10%,10%);
} 

.wrapp2 .person{
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
}
.person h1{
    font-size:26px;
    padding: 10px;
}
.person p{
    font-size: 18px;
    padding: 10px;
}

#about .wrapp3 {
    position: absolute;
    top: 220vh;
    left:-100%;
    width: 70vw;
    height: 60vh;
    display: flex;
    transition: 1.5s;
}

.wrapp3 .img{
    background-image: url('../img/chihuahu\ -\ menager_Easy-Resize.com.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 40%;
    height: 100%;
    transform: translate(10%,10%);
} 

.wrapp3 .person {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 40%;
}
.person h1{
    font-size:26px;
    padding: 10px;
}
.person p{
    font-size: 18px;
    padding: 10px;
}
#about .wrapp1.go{
    left: 0;
}
#about .wrapp2.go{
    right: 0;
}
#about .wrapp3.go{
    left: 0;
}


@media (max-width:1025px){
    #about>h1{
        font-size: 80px;

      }
    #about .wrapp-mobile {
        width: 100vw;
        height: 60vh;
    }

    #about .img{
        width: 50%;
        height: 80%;
    } 
    #about .person{
        right: 0%;
    }
    .person h1{
        font-size:48px;
        padding: 20px;
    }
    .person p{
        font-size: 32px;
    }
}
@media (max-width:1367px) and (orientation:landscape){
    #about>h1{
        font-size: 80px;
      }
    #about .wrapp-mobile {
        width: 100vw;
        height: 80vh;
    }

    #about .img{
        width: 50%;
        height: 80%;
    } 
    #about .person{
        right: 0%;
    }
    .person h1{
        font-size:38px;
        padding: 20px;
    }
    .person p{
        font-size: 28px;
    }
}
@media (max-width: 769px){
    section#about {
        height: 330vh;
    }
    #about .wrapp1 {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
    }
    #about .wrapp1 .img{
        flex-basis: 50%;
        height: 50%;
    } 
    
    #about .wrapp1 .person{
        position: relative;
        display: flex;
        flex-basis: 80vw;
        height: 50%;
        padding: 15px 0;
    }
    #about .person h1{
        flex-basis: 50%;
        font-size:34px;

    }
    .person p{
        flex-basis: 50%;
        font-size: 22px;
    
    }
    /* wrap 2 */
    #about .wrapp2 {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
    }
    #about .wrapp2 .img{
        flex-basis: 50%;
        height: 50%;
    } 
    
    #about .wrapp2 .person{
        position: relative;
        display: flex;
        flex-basis: 80vw;
        height: 50%;

    }
   
    /* wrap 3 */
    #about .wrapp3 {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
    }
    #about .wrapp3 .img{
        flex-basis: 50%;
        height: 50%;
    } 
    
    .wrapp3 .person{
        position: relative;
        display: flex;
        flex-basis: 80vw;
        height: 50%;
    }
}
@media (max-width: 640px){

    #about .person h1{
        flex-basis: 50%;
        font-size:28px;

    }
    .person p{
        flex-basis: 50%;
        font-size: 18px;
    
    }
    
}
@media (max-width: 769px) and (orientation:landscape){
section#about{
    height: 500vh;
}

#about .wrapp1{
    height: 150vh;
}

#about .wrapp2{
    height: 150vh;
    display: flex;
    margin-top: 50vh;
}
#about .wrapp3{
    height: 150vh;
    display: flex;
    margin-top: 100vh;
}}
@media (max-width: 444px){
    #about>h1{
        font-size: 40px;
      }
    #about .wrapp-mobile .person {
          flex-direction: column;
      }
    #about .wrapp-mobile .img {
        width: 40%;
        height: 40%;
    }
    #about .person h1{
        flex-basis: 20%;
        font-size:22px;
        padding: 0;
    }
    .person p{
        flex-basis: 50%;
        font-size: 16px;
    
    }
}
@media (max-width: 654px) and (max-height: 281px) and (orientation:landscape){
    #about>h1{
        font-size: 40px;
      }
    #about .wrapp-mobile .person {
          flex-direction: column;
      }
    #about .wrapp-mobile .img {
        width: 40%;
        height: 40%;
    }
    #about .person h1{
        flex-basis: 20%;
        font-size:22px;
        padding: 0;
    }
    .person p{
        flex-basis: 50%;
        font-size: 16px;
    
    }
}
@media (max-width: 824px) and (max-height: 412px) and (orientation:landscape){
    #about>h1{
        font-size: 50px;
      }

    #about .wrapp-mobile .person {
          height: auto;
      }

    #about .wrapp-mobile .img {
        width: 50%;
        height: auto;
    }
    #about .person h1{
        flex-basis: 20%;
        font-size:26px;
        padding: 0;
    }
    .person p{
        flex-basis: 50%;
        font-size: 20px;
    
    }
}
/* section contact */

#contact{
    background-image: url('/img/brick-wall-1834784_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    height: 100vh;
}
.contact-content{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.contact-content > h1{
    height: 15vh;
    font-size: 32px;
    color: white;
    font-weight: bold;
    line-height: 15vh;
    padding: 0 10% 0 0;
    text-indent: 5%;
}
.contact-content > h1::after{
    content:"";
    display: block;
    width: 100%;
    border-bottom: 2px solid white;
}


#contact .flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.contacts{
    flex-basis: 35vw;
    height: 25vh;
    color: white;
    padding: 5%;
}
.contacts h1{
    font-size: 25px;
    padding: 10px;
}
.contacts p{
    display: block;
    font-size: 16px;
    padding: 10px;
}

@media (max-width: 1026px) {
    .contact-content  h1{
        font-size: 48px;
    }
    .contacts{
        flex-basis: 50vw;
        height: 27vh;
        flex-grow: 1;
    }
    .contacts h1{
        font-size: 34px;
    }
    .contacts p{
        font-size: 25px;
    }
}

@media (max-width: 1367px) and (orientation:landscape) {
    .contact-content  h1{
        font-size: 48px;
    }
    .contacts{
        flex-basis: 50vw;
        height: 27vh;
        flex-grow: 1;
    }
    .contacts h1{
        font-size: 34px;
    }
    .contacts p{
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    .contact-content  h1{
        font-size: 40px;
    }

    .contacts h1{
        font-size: 32px;
    }
    .contacts p{
        font-size: 18px;
    }
}
@media (max-width: 1025px) and (orientation:landscape) {
    .contact-content  h1{
        font-size: 40px;
    }
    .contacts{
        height: 29vh;
    }
    .contacts h1{
        font-size: 32px;
    }
    .contacts p{
        font-size: 18px;
    }
}
@media (max-width: 660px) {
    #contact{
        height: auto;
    }
    .contacts{
        height: auto;
    }
    .contact-content  h1{
        font-size: 32px;
    }

    .contacts h1{
        font-size: 26px;
    }
    .contacts p{
        font-size: 15px;
    }
}
@media (max-width: 721px)  and (orientation:landscape){
    #contact{
        height: auto;
    }
    .contacts{
        height: auto;
        padding: 10px;
    }
    .contact-content  h1{
        font-size: 32px;
    }

    .contacts h1{
        font-size: 26px;
    }
    .contacts p{
        font-size: 15px;
    }
}
@media (max-width: 824px)  and (orientation:landscape) and (max-height:412px){
    #contact{
        height: auto;
    }
    .contacts{
        height: auto;
        padding: 10px;
    }

    .contact-content  h1{
        font-size: 32px;
    }

    .contacts h1{
        font-size: 26px;
    }
    .contacts p{
        font-size: 15px;
    }
}
@media (max-width: 444px) {

    .contact-content  h1{
        font-size: 28px;
    }

    .contacts h1{
        font-size: 24px;
    }
    .contacts p{
        font-size: 12px;
    }
}
@media (max-width: 361px) {

    .contact-content  h1{
        font-size: 28px;
    }

    .contacts h1{
        font-size: 20px;
    }
    .contacts p, .contacts div{
        font-size: 12px;
    }
}